<html>
<body>
<h1><%= username %>, here are your matches</h1>
<% if (matches.length<1) {%>
	<p>No matches found</p>
<%}else{%>
	<% for (var k = 0; k < matches.length; k++){%>
	<p><%=k+1%>.  <b><%=matches[k].name%></b> with <%=matches[k].matchCount%> matching answers</p>
	<%}%>

<%}%>

</body>
</html>
